{% extends 'base.html.twig' %}

{% block title %}Hazte con todos!{% endblock %}

{% block body %}
<style>
    body {
        background-color: #f0f0f0;
        font-family: 'Arial', sans-serif;
        color: #333;
        text-align: center;
        padding: 20px;
    }

    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h1 {
        color:rgb(0, 81, 255);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        font-size: 2.5em;
        margin-bottom: 10px;
    }

    p {
        font-size: 1.2em;
        color: #555;
        margin-bottom: 20px;
    }

    a {
        display: inline-block;
        margin: 10px;
        padding: 10px 20px;
        font-size: 1em;
        color: #fff;
        background-color: #ff3333;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    a:hover {
        background-color: #cc0000;
    }

    .alert {
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 5px;
        font-size: 1em;
    }

    .alert-success {
        background-color: #d4edda;
        color: #155724;
        border: 1px solid #c3e6cb;
    }

    .alert-error {
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
    }

    .alert-info {
        background-color: #d1ecf1;
        color: #0c5460;
        border: 1px solid #bee5eb;
    }

    .alert-warning {
        background-color: #fff3cd;
        color: #856404;
        border: 1px solid #ffeeba;
    }
</style>

    <h1>¡Bienvenido a la Pokemon App!</h1>
    <p>Comienza tu aventura pokemon y atrapa a todos.</p>

    {% if not app.user %}
        <a href="{{ path('app_login') }}" >Iniciar Sesión</a>
        <a href="{{ path('app_register') }}" >Registrarse</a>
    {% else %}
        <a href="{{ path('app_pokedex_index') }}">Ver Pokémon</a>
        <a href="{{ path('app_hunt_pokemon') }}">Cazar Pokemon</a>
        <a href="{{ path('app_battle_view') }}">Combatir Pokemon</a>
    {% endif %}

    <br/><br/>

    {% for type, messages in app.flashes %}
        {% for message in messages %}
        <div class="alert alert-{{ type }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
