{% extends 'base.html.twig' %}

{% block title %}Hazte con todos!{% endblock %}

{% block body %}
<style>
    body {
        background-color: #ffcb05;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        margin: 0;
        padding-top: 20vh;
        flex-direction: column;
    }

    .example-wrapper {
        background-color: #ffffff;
        padding: 2rem;
        border-radius: 15px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        text-align: center;
        border: 5px solid #3d7dca;
        width: 100%;
        max-width: 600px;
        transition: transform 0.3s ease;
    }

    .example-wrapper:hover {
        transform: scale(1.02);
    }

    h1 {
        color: #3d7dca;
        font-size: 2rem;
        margin-bottom: 1.2rem;
    }

    p {
        font-size: 1.2rem;
        color: #555;
        margin-bottom: 20px;
    }

    a {
        display: inline-block;
        margin: 10px;
        padding: 10px 20px;
        font-size: 1rem;
        color: #ffffff;
        background-color: #3d7dca;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease, transform 0.2s;
    }

    a:hover {
        background-color: #ffcb05;
        color: #3d7dca;
        transform: scale(1.05);
    }

    @keyframes pulse {
        0%, 100% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
    }

    .logo {
        width: 350px;
        margin-bottom: 2rem;
        animation: pulse 1.5s ease-in-out infinite;
    }
</style>

<img src="{{ asset('images/logo.png') }}" alt="Logo" class="logo">

<div class="example-wrapper">
    <h1>¡Bienvenido a la Pokemon App!</h1>
    <p>Comienza tu aventura Pokémon y atrapa a todos.</p>

    {% if not app.user %}
        <a href="{{ path('app_login') }}">Iniciar Sesión</a>
        <a href="{{ path('app_register') }}">Registrarse</a>
    {% else %}
        <a href="{{ path('app_pokedex_index') }}">Ver Pokémon</a>
        <a href="{{ path('app_hunt_pokemon') }}">Cazar Pokémon</a>
        <a href="{{ path('app_battle_view') }}">Combatir Pokémon</a>
    {% endif %}

</div>
{% endblock %}
