{% extends 'base.html.twig' %}

{% block title %}Hazte con todos!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <h1>¡Bienvenido a la Pokemon App!</h1>
    <p>Comienza tu aventura pokemon y atrapa a todos.</p>

    {% if not app.user %}
        <a href="{{ path('app_login') }}" >Iniciar Sesión</a>
        <a href="{{ path('app_register') }}" >Registrarse</a>
    {% else %}
        <a href="{{ path('app_pokedex_index') }}">Ver Pokémon</a>
        <a href="{{ path('hunt_pokemon') }}">Cazar Pokemon</a>
        <a href="{{ path('app_battle_view') }}">Combatir Pokemon</a>
    {% endif %}

    <br/><br/>

    {% for type, messages in app.flashes %}
        {% for message in messages %}
        <div class="alert alert-{{ type }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
