{% extends 'base.html.twig' %}

{% block title %}Pokedex index{% endblock %}

{% block body %}
    <h1>Pokedex</h1>

    <table class="table" style="text-align:center">
        <thead>
            <tr>
                <th>Pokemon</th>
                <th>Nivel</th>
                <th>Fuerza</th>
            </tr>
        </thead>
        <tbody>
        {% for pokedex in pokedexes %}
            <tr>
                <td>{{ pokedex.pokemon.name }}</td>
                <td>{{ pokedex.level }}</td>
                <td>{{ pokedex.strength }}</td>
                {% if (pokedex.pokemon.state == 1) %}
                <td>
                    <form action="{{ path('app_train_pokemon', {'id': pokedex.id}) }}" method="POST">
                        <button type="submit">Entrenar</button>
                    </form>
                </td>
                <td>
                    {% if pokedex.level % 10 == 0  and pokedex.lastEvolutionLevel != pokedex.level %}
                        <form action="{{ path('app_pokedex_evolve', {'id': pokedex.id}) }}" method="POST">
                            <button type="submit">Evolucionar</button>
                        </form>
                    {% endif %}
                </td>
                {# <td>
                    <a href="{{ path('app_pokedex_show', {'id': pokedex.id}) }}">show</a>
                    <a href="{{ path('app_pokedex_edit', {'id': pokedex.id}) }}">edit</a>
                </td> #}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% for type, messages in app.flashes %}
        {% for message in messages %}
        <div class="alert alert-{{ type }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endfor %}

    {# <a href="{{ path('app_pokedex_new') }}">Create new</a> #}
{% endblock %}
