{% extends 'base.html.twig' %}

{% block title %}Battle{% endblock %}

{% block body %}
    <h2>¿Ya has elegido tu pokemon?</h2>
    <h2>Empezemos con la batalla...</h2>

    <h3>Pokemon elegido:</h3


   <table>
        <thead>
            <tr>
                <th>Pokémon</th>
                <th>Nivel</th>
                <th>Fuerza</th>
            </tr><br>
        </thead>
        <tbody>
            <tr >
                <td>{{ pokedex.pokemon.name }}</td>
                <td>{{ pokedex.level }}</td>
                <td>{{ pokedex.strength }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Pokemon contrincante:</h3>

    <table>
        <thead>
            <tr>
                <th>Pokémon</th>
                <th>Nivel</th>
                <th>Fuerza</th>
            </tr><br>
        </thead>
        <tbody>
            <tr >
                <td>{{ enemy.name }}</td>
                <td>{{ enemy_level }}</td>
                <td>{{ enemy_strength }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Ganador:</h3>

    {% if (winner == 1) %}

    <p>Has ganado la batalla!</p><br/>
    <form action="{{ path('app_battle_levelUp', {'id': pokedex.id}) }}" method="GET" class="d-inline">
        <button type="submit" class="btn btn-success btn-sm">Subir de nivel</button>
    </form>

    <form action="{{ path('app_pokedex_index') }}" method="GET" class="d-inline">
        <button type="submit" class="btn btn-success btn-sm">Resucitar pokemons</button>
    </form>
    <form action="{{ path('app_capture_pokemon', {'id': enemy.id}) }}" method="POST" class="d-inline">
        <button type="submit" class="btn btn-success btn-sm">Capturar</button>
    </form>


        {% if (pokedex.level % 10 == 0) %}

        <p>Puedes evolucionar a tu pokemon!</p>

        {% endif %}


    {% else %}

    <p>Has perdido la batalla!</p><br>
    <p>Tu pokemon ha quedado malherido</p>

    {% endif %}


    <a href="{{ path('app_main') }}">Volver al inicio</a>
    <a href="{{ path('app_pokedex_index') }}">Ir a Pokedex</a>
    <a href= "{{ path('app_battle_view') }}">Volver a luchar</a>



    
{% endblock %}
